$prefix: "app";
$banner-prefix: $prefix+"-banner";
$card-prefix: $prefix+"-card";
$sketch-prefix: $prefix+"-sketch";
$article-prefix: $prefix+"-article";
$hot-prefix: $prefix+"-hot";

$body-color: #F6F7FA;
$primary-color: #1A53F0; // 全局主色
$text-color: #1F1F22; // 标题颜色
$gray-text-color: #6A6B6E; // 灰色文字
$light-blue: #9DB7FF;

$p-width: 83%;
$m-width: 1200px;

$mobile-width: 600px;